html {
    font-family: sans-serif;
    color: #eee;

    background: #222;
    /* background-image: url("images/background.png"); */

    background-image: radial-gradient(#111 20%, transparent 25%);
    background-size: 16px 16px;
}

h1 {
    text-align: center;
    margin: 1em;
    text-shadow: 3px 3px 2px #000;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    background-color: #0005;
}

tr:nth-child(odd) {
    background-color: #0004;
}

td,
th {
    padding: .2em 1em;
}

td:nth-child(2),
td:nth-child(3) {
    text-align: right;
}